code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Cousier New';
}
::-webkit-scrollbar{
    width: 0.7rem;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5rem;
}